<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Usuarios</a>
                    </li>
                    <li class="breadcrumb-item active">Listado
                    </li>
                </ol>
            </div>
            <div class="content-header-left col-md-6 col-xs-12">
                <h2 class="content-header-title mb-0">Usuarios</h2>
                <!--<p class="text-muted mb-0">Page header with breadcrumbs &amp; button</p>-->
            </div>
            <div class="content-header-right text-md-right col-md-6 col-xs-12">
                <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/user/create']">Crear usuario</button>
            </div>
            <div class="content-header-lead col-xs-12 mt-2">
                <!--<p class="lead">Page header with page title, breadcrumbs, description, content title and button.</p>-->
            </div>
        </div>
        <div class="content-body">
            <!-- Description -->
            <section id="description">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Listado</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard ">
                            <!--<p>Grid with filtering, editing, inserting, deleting, sorting and paging. Data provided by controller.</p>-->
                            <js-grid [action]="gridAction" [source]="sourceApi" [options]="options" ></js-grid>                                                                                    
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Description -->
        </div>
    </div>
</div>