<!-- Horizontal navigation-->
<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow">
    <!-- Horizontal menu content-->
    <div data-menu="menu-container" class="navbar-container main-menu-content container center-layout">
        <!-- include ../../../includes/mixins-->
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">            
            <li data-menu="dropdown" class="dropdown nav-item"><a href="#" acl [routerLink]="['/dashboard']" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-home3"></i><span data-i18n="nav.templates.main">Productividad</span></a>
                <ul class="dropdown-menu">                 
                    <li data-menu="" class="active"><a acl href="#" [routerLink]="['/dashboard']" data-toggle="dropdown" class="dropdown-item">Indicadores de Productitivad</a>
                    </li>
                    <li data-menu=""><a href="#" acl [routerLink]="['/dashboard/productividad/detalle-indicadores']" class="dropdown-item">Detalle de Indicadores de Productitivad</a>
                    </li>                    
                </ul>
            </li>
            <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-stats-bars2"></i><span data-i18n="nav.templates.main">Sección</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a href="../vertical-menu-template" data-toggle="dropdown" class="dropdown-item">Análisis por Sección</a>
                    </li>                    
                </ul>
            </li>

            <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-pie-graph2"></i><span data-i18n="nav.templates.main">Cierre</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a href="../vertical-menu-template" data-toggle="dropdown" class="dropdown-item">Cuadro de Cierre Editorial</a>
                    </li>                    
                </ul>
            </li>

            <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-pencil22"></i><span data-i18n="nav.templates.main">Mantenimiento</span></a>
                <ul class="dropdown-menu">                    
                    <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Cierre Editorial</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a href="../horizontal-menu-template" data-toggle="dropdown" class="dropdown-item">Normales</a>
                            </li>
                            <li data-menu=""><a href="../horizontal-top-icon-menu-template" data-toggle="dropdown" class="dropdown-item">Excepciones</a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu=""><a href="#"  [routerLink]="['/dashboard/user']" data-toggle="dropdown" class="dropdown-item">Usuarios</a>                        
                    </li>
                    <li data-menu=""><a href="#" [routerLink]="['/dashboard/acl/rol']" data-toggle="dropdown" class="dropdown-item">Roles</a>                        
                    </li>
                    <li data-menu=""><a href="#" [routerLink]="['/dashboard/acl/resource']" data-toggle="dropdown" class="dropdown-item">Recursos</a>                        
                    </li>
                    <li data-menu=""><a href="#" [routerLink]="['/dashboard/acl']" data-toggle="dropdown" class="dropdown-item">Permisos</a>                        
                    </li>
                </ul>
            </li>
            <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-setting1"></i><span data-i18n="nav.templates.main">Configuración</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a href="../vertical-menu-template" data-toggle="dropdown" class="dropdown-item">Cuadro de Cierre Editorial</a>
                    </li>                    
                </ul>
            </li>                     
        </ul>
    </div>
    <!-- /horizontal menu content-->
</div>
<!-- Horizontal navigation-->