<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="breadcrumb-wrapper col-xs-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="#">Users</a>
          </li>
          <li class="breadcrumb-item active">Add
          </li>
        </ol>
      </div>
      <div class="content-header-left col-md-6 col-xs-12">
        <h2 class="content-header-title mb-0">Users</h2>
        <!--<p class="text-muted mb-0">Page header with breadcrumbs &amp; button</p>-->
      </div>
      <!--<div class="content-header-right text-md-right col-md-6 col-xs-12">
        <button type="button" class="btn btn-primary">Add User</button>
      </div>-->
      <div class="content-header-lead col-xs-12 mt-2">
        <!--<p class="lead">Page header with page title, breadcrumbs, description, content title and button.</p>-->
      </div>
    </div>
    <div class="content-body">
    <!-- Description -->
    <section id="description">
        <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Add user</h4>
                  <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                          <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                          <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                          <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-body collapse in">
                  <div class="card-block card-dashboard ">
                      <!--<div class="card-text">
                        <p>This example shows a way to center your form in the card. Here we have used <code>col-md-6 offset-md-3</code> classes to center the form in a full width card. User can always change those classes according to width and offset requirements. This example also uses form action buttons in the center bottom position of the card.</p>
                      </div>-->

                      <form class="form">
                        <div class="row">
                          <div class="col-md-6 offset-md-3">
                            <div class="form-body">
                              <div class="form-group">
                                <label for="eventInput1">Full Name</label>
                                <input type="text" id="eventInput1" class="form-control" placeholder="name" name="fullname">
                              </div>

                              <div class="form-group">
                                <label for="eventInput2">Title</label>
                                <input type="text" id="eventInput2" class="form-control" placeholder="title" name="title">
                              </div>

                              <div class="form-group">
                                <label for="eventInput3">Company</label>
                                <input type="text" id="eventInput3" class="form-control" placeholder="company" name="company">
                              </div>

                              <div class="form-group">
                                <label for="eventInput4">Email</label>
                                <input type="email" id="eventInput4" class="form-control" placeholder="email" name="email">
                              </div>

                              <div class="form-group">
                                <label for="eventInput5">Contact Number</label>
                                <input type="tel" id="eventInput5" class="form-control" name="contact" placeholder="contact number">
                              </div>

                              <div class="form-group">
                                <label>Existing Customer</label>
                                <div class="input-group">
                                  <label class="display-inline-block custom-control custom-radio ml-1">
                                    <input type="radio" name="customer1" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description ml-0">Yes</span>
                                  </label>
                                  <label class="display-inline-block custom-control custom-radio">
                                    <input type="radio" name="customer1" checked class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description ml-0">No</span>
                                  </label>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
    
                        <div class="form-actions center">                        
                          <button [ladda]="isLoading" type="button"  data-style="zoom-in" class="btn btn-warning">
                            <span class="ladda-label">
                            <i class="icon-cross2"></i>
                              Cancel
                            </span>
                            <span class="ladda-spinner"></span>                            
                          </button>
                          <button [ladda]="isLoading" type="button"  data-style="zoom-in" class="btn btn-primary">
                            <span class="ladda-label">
                            <i class="icon-check2"></i>
                              Save
                            </span>
                            <span class="ladda-spinner"></span>                            
                          </button>
                        </div>
                      </form>	
                  </div>
              </div>
          </div>
    </section>
    <!--/ Description -->
    </div>
  </div>
</div>